@import url(https://fonts.googleapis.com/css?family=Roboto);
nav{
    display: inline;
}
nav{
    color: rgb(252, 1, 1) ;
    font-size: x-large;
    border-style: solid;
    
}
*{
    font-family:var(Roboto);
}
.about{
    border-style:dotted;
}
.work{
    color: blueviolet;
    font-size: medium;
}